@import "colors";

header#page-header {
  color: $secondary-color;
  background: $primary-color;
  padding: 5px;
  border-bottom: 1px solid darken($primary-color, 10%);
}

footer#page-footer {
  color: $primary-color;
  background: $secondary-color;
  text-align: center;
  padding: 5px;
  border-top: 1px solid darken($secondary-color, 10%);
}
