<aside style="float: right; background: #F0F0F0; width: 200px;">
  <ul>
    <li><%= link_to "All Movies", root_path %></li>
    <li><%= link_to("Add New Movie", new_movie_path) %></li>
  </ul>
</aside>
